<% layout('layouts/boilerplate')%>

<style>
  /*======================
    404 page
=======================*/

  .page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }

  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
  }

  .four_zero_four_bg h1 {
    font-size: 80px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
  }
  .contant_box_404 {
    margin-top: -50px;
  }
</style>
<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center"><%=errorCode%></h1>
          </div>

          <div class="contant_box_404">
            <h3 class="h2"><%=errorMessage%></h3>

            <p>
              <% if(errorType=="seats"){%> Sorry seat <%=seatNumber%> is already
              booked.Please sealect seats again.
              <a href="<%=redirectUrl%>" class="link_404">
                Retry selecting seats.</a
              >
              <%}%> <% if(errorType=="payment"){%>
              <a href="<%=redirectUrl%>" class="link_404">
                Please Add credit to your account.</a
              >
              <%}%> <% if(errorType=="Not Found"){%>
              <a href="<%=redirectUrl%>" class="link_404">
                Have You Lost Your Way?</a
              >
              <%}%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
